@media (min-width:320px) and (max-width:567px) {
   
    .maindiv{
        width: 100%;
    margin-left: 0px;
    }

  /* .text li{
    margin-left: -20px;
  margin-top: 20px;
  }
  ul li::before{
    margin-left: -40px;
  } */
}